{% extends 'aliments/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Masthead -->
<header class="headother" id="header">
  <div class="flex-container h-100 user">
    <div class="row headtext">
      <div class="col-lg-10 align-self-end">
        <h1 class=" text-white font-weight-bold">Bienvenue!</h1>
        <hr class="divider my-4">
        <h2 class=" text-white font-weight-bold">Connectez-vous pour acceder à vous produits</h2>
      </div>
    </div>
  </div>
</header>
<!-- Horizontal material form -->
<div class="flex-container">
  <form class = "signin" method="POST">
      {% csrf_token %}
      {{ form | crispy}}
    <a class="nav-link js-scroll-trigger" href="{% url 'connected'%}">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </a>
  </form>
  <form class = "signin">
      <div class="form-group">
        <medium id="create" class="form-text text-muted">Vous n'avez pas de compte?</medium>
      </div>
      <a class="nav-link js-scroll-trigger" href="{% url 'signup'%}">
        <button type="button" class="btn btn-primary">Nouveau compte</button>
      </a>
  </form>
</div>

{% endblock %}